* {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
}
.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/* Header */

nav{
    background-color: #fff;
    display: flex;
    padding: 0% 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 130px;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 8px 3%;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: clamp(18px, 2vw, 28px);
    color: #000000;
}
.nav-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transition: transform 0.25s ease-out;
}
.nav-links a:hover::after {
  transform: scaleX(1);
}

/* Center */

.dirigent {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
    position: fixed;
    bottom: 8vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    cursor: pointer;
}
.arc-container-1 {
    position: fixed;
    bottom: 10vw;
    left: 50%;
    transform: translateX(-50%);
    width: 0vw;
    height: 0vw;
    z-index: 1;
}
.arc {
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.arc-2 {
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.arc-container-2 {
    position: fixed;
    bottom: 10vw;
    left: 40%;
    transform: translateX(-50%);
    width: 0vw;
    height: 0vw;
    z-index: 1;
}
.arc-container-3 {
    position: fixed;
    bottom: 10vw;
    left: 30%;
    transform: translateX(-50%);
    width: 0vw;
    height: 0vw;
    z-index: 1;
}
.arc:nth-child(1) { left: calc(50% + 15vw * cos(180deg)); top: calc(100% - 15vw * sin(180deg)); }
.arc:nth-child(2) { left: calc(50% + 15vw * cos(160deg)); top: calc(100% - 15vw * sin(160deg)); }
.arc:nth-child(3) { left: calc(50% + 15vw * cos(140deg)); top: calc(100% - 15vw * sin(140deg)); }
.arc:nth-child(4) { left: calc(50% + 15vw * cos(120deg)); top: calc(100% - 15vw * sin(120deg)); }
.arc:nth-child(5) { left: calc(50% + 15vw * cos(100deg)); top: calc(100% - 15vw * sin(100deg)); }
.arc:nth-child(6) { left: calc(50% + 15vw * cos(80deg));  top: calc(100% - 15vw * sin(80deg)); }
.arc:nth-child(7) { left: calc(50% + 15vw * cos(60deg));  top: calc(100% - 15vw * sin(60deg)); }
.arc:nth-child(8) { left: calc(50% + 15vw * cos(40deg));  top: calc(100% - 15vw * sin(40deg)); }
.arc:nth-child(9) { left: calc(50% + 15vw * cos(20deg));  top: calc(100% - 15vw * sin(20deg)); }
.arc:nth-child(10){ left: calc(50% + 15vw * cos(0deg));   top: calc(100% - 15vw * sin(0deg)); }
.arc-container-4 {
    position: fixed;
    bottom: 10vw;
    left: 60%;
    transform: translateX(-50%);
    width: 40vw;
    height: 20vw;
    z-index: 1;
}
.arc-2:nth-child(1) { left: calc(-54% + 15vw * cos(95deg)); top: calc(95% - 15vw * sin(100deg)); }
.arc-2:nth-child(2) { left: calc(-43% + 15vw * cos(95deg)); top: calc(80% - 15vw * sin(100deg)); }
.arc-2:nth-child(3) { left: calc(-31% + 15vw * cos(95deg)); top: calc(68% - 15vw * sin(100deg)); }
.arc-2:nth-child(4) { left: calc(-18% + 15vw * cos(95deg)); top: calc(60% - 15vw * sin(100deg)); }
.arc-2:nth-child(5) { left: calc(-2% + 15vw * cos(100deg)); top: calc(54% - 15vw * sin(100deg)); }
.arc-2:nth-child(6) { left: calc(8% + 15vw * cos(95deg)); top: calc(51% - 15vw * sin(100deg)); }
.arc-2:nth-child(7) { left: calc(22% + 15vw * cos(95deg)); top: calc(49% - 15vw * sin(100deg)); }
.arc-2:nth-child(8) { left: calc(36% + 15vw * cos(95deg)); top: calc(51% - 15vw * sin(100deg)); }
.arc-2:nth-child(9) { left: calc(50% + 15vw * cos(95deg)); top: calc(55% - 15vw * sin(100deg)); }
.arc-2:nth-child(10) { left: calc(50% + 15vw * cos(75deg)); top: calc(60% - 15vw * sin(100deg)); }
.arc-2:nth-child(11) { left: calc(65% + 15vw * cos(80deg));  top: calc(75% - 15vw * sin(80deg)); }
.arc-2:nth-child(12) { left: calc(50% + 15vw * cos(40deg));  top: calc(95% - 15vw * sin(70deg)); }
.arc-2:nth-child(13) { left: calc(50% + 15vw * cos(30deg));  top: calc(100% - 15vw * sin(43deg)); }
.arc-2:nth-child(14) { left: calc(50% + 15vw * cos(20deg));  top: calc(100% - 15vw * sin(20deg)); }
.arc-2:nth-child(15){ left: calc(50% + 15vw * cos(0deg));   top: calc(100% - 15vw * sin(0deg)); }
.popup {
    display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    color: white;
    z-index: 9999; 
}
.infoCont {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-color: rgb(0 0 0 / 50%);
    background-blend-mode: hard-light;
    border-radius: 10px;
}
.fade {
  animation-name: fade;
  animation-duration: .5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.infoCont img {
    max-width: 80%;
    border-radius: 10px;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.infoCont button {
    position: absolute;
    right: 0;
    font-size: 24px;
    background-color: transparent;
    color: #ffff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
    margin: 1%;
}
.infoCont button:hover {
    color: rgb(225,225,225,50%)
}
.description {
    background-color: white;
    color: black;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
.infoCont h2 {
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    width: 50%;
}
.infoCont p {
    line-height: 1.6;
}
.title-bar {
    position: relative;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-bar h2 {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    white-space: nowrap;
}
.title-bar button {
    position: absolute;
    right: 0;
    font-size: 24px;
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}
.title-bar button:hover {
    color: rgb(0,0,0,50%)
}
